html {
  height: 800px;
  width: 100%;
}

.nob {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.img {
  padding: 0px;
  margin: 0px;
  border: 3px;
  border-style: solid;
  border-color: #ffffff;
}

.navBar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #465F95;
  border-bottom: 4px solid black;
}

.inBody {
  padding: 5px;
  position: absolute;
  left: 0px;
  top: 90px;
  width: 100%;
  background-color: #a4d1f5;
}

body {
 background-color: #a4d1f5;
}

footer {
  font-family: "Jua";
  position: absolute;
  left: 0;
  height: 146px;
  width: 100%;
  background-color: #465F95;
  color: white;
  text-align: center;
  
  border-style: solid;
  border-color: black;
  border-top-width: 4px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.FlexL {
  margin-top: 40px;
  margin-left: 60px;
}

.FlexR {
  margin-top: 55px;
  margin-right: 60px;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.OthPages {
  font-family: "Just Another Hand";
  font-weight: normal;
  color: white;
  text-decoration: none;
  font-size: 45px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px
}

#logo {
  margin-top: 5px;
  margin-left: 70px;
}

.inBodySue {
  margin-left: 540px;
  margin-top: 180px;
  height: 440px;
  width: 580px;
  background-color: #D1E7FF;
  background-image: url("BG1.png");
  padding: 90px;
  padding-left: 120px;
  
  border-radius: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: #4471AD;
}

.sueustxt {
  font-family: "Inter";
  font-size: 26px;
  margin: 0px;
}

input {
  border: solid 3px #4471AD;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 452px;

  font-family: "Inter";
  font-size: 16px;
}

button {
  margin-left: 4px;
  
  width: 60px;
  height: 40px;
  font-family: "Inter";
  font-size: 16px;
  color: white;
  background-color: #4471AD;
  border: solid 3px #465F95;
  border-radius: 8px;
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.smallfoot {
  top: 1048px;
}

.menufoot {
  top: 2848px;
}

.galfoot {
  top: 2308px;
}

.navtxt {
  margin-right: 70px;
}

#loginimg {
  margin-top: 5px;
}

.textBox1 {
  background-color: rgb(0, 0, 0, 0.18);
  border-style: solid;
  border-width: 5px;
  border-color: #4471AD;
  border-radius: 30px;
  padding: 30px;
  font-family: "Just Another Hand";
  color: white;
  font-size: 38px;
  width: 500px;
  height: 390px;
  text-align: center;
  vertical-align: center;
  position: absolute;
  top: 502px;
  left: 270px;
  line-height: auto;
}

.textBox2 {
  background-color: rgb(0, 0, 0, 0.18);
  border-style: solid;
  border-width: 7px;
  border-color: #4471AD;
  border-radius: 30px;
  padding: 30px;
  font-family: "Just Another Hand";
  color: white;
  font-size: 45px;
  text-align: left;
  vertical-align: center;
  position: absolute;
  top: 100px;
  left: 100px;
  line-height: auto;
  width: 2280px;
  height: 2300px;
}

.textBox3 {
  background-color: rgb(0, 0, 0, 0.18);
  border-style: solid;
  border-width: 7px;
  border-color: #4471AD;
  border-radius: 30px;
  padding: 110px;
  font-family: "Just Another Hand";
  color: white;
  font-size: 45px;
  text-align: left;
  vertical-align: center;
  position: absolute;
  top: 100px;
  left: 100px;
  line-height: auto;
  width: 2280px;
  height: 2300px;
}

p {
  font-weight: normal;
  margin: 0px;
}

.speks {
  font-family: "Just Another Hand";
  font-weight: normal;
  color: white;
  font-size: 230px;
  background-color: #a4d1f5;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

#movespeks {
  position: relative;
  left: 560px;
  top: -80px;
}

#kebabfoto {
  position: absolute;
  left: 1100px;
  top: 500px;
}

#galtable {
  margin: auto;
  margin-top: 50px;
}

.yt {
  border-radius: 50px;
}

#w {
  margin-left: 540px;
}

#h2 {
  text-align: center;
  font-weight: normal;
  font-size: 82px;
}